.logo-image-size {
    width: 100px;
    height: auto;
    display: block; /* Ajusta el tamaño de la imagen correctamente */
    position: relative; /* Asegura que la imagen esté encima de la sombra */
  }